  @media( min-width:700px) {
      #movies .col-md-3 .img {
          height: 400px;
      }
      .searchbar:hover>.search_input {
          width: 145px;
          caret-color: white;
          transition: width 0.4s linear;
      }
      body,
      html {
          background-size: 331px 635px;
      }
  }
  
  body,
  html {
      background-image: url('../images/image.jpg');
      background-size: 1536px 750px;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
  }
  
  .searchbar {
      margin-bottom: auto;
      margin-top: auto;
      border-radius: 30px;
      background-color: #0066FF;
      padding: 10px;
  }
  
  .search_input {
      color: white;
      border: 0;
      outline: 0;
      background: none;
      width: 0;
      line-height: 40px;
      transition: width 0.4s linear;
  }
  
  .search_icon {
      height: 40px;
      width: 40px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: white;
  }
  
  .searchbar:hover>.search_input {
      padding: 0 10px;
      width: 450px;
      caret-color: white;
      transition: width 0.4s linear;
  }
  
  .searchbar:hover>.search_icon {
      background-color: white;
      color: black;
  }
  
  #movies img,
  #movies img {
      width: 100%;
  }
  
  #movies .col-md-3 img {
      height: 400px;
      width: 300px;
  }
  
  h4 {
      color: white;
      font-weight: bold;
      background-color: black;
  }
  
  #movies_background {
      background-color: black;
      width: 100%;
      margin: 0;
      padding: 0;
  }
  
  button {
      padding: 0;
      border: none;
      background: none;
  }